{% extends "../layout.jinja2" %}
{% block title %}
Login PAge
{% endblock %}
{% block body %}
<form method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit">Login</button>
</form>
{% endblock %}
